# Working With Files and Doing Data Cleaning

## First, a Review on Planning Your Programs

One of the most difficult things about learning to program is to learn how to start.  What to do before you write the code, and how to work your way through the coding process.

A good general idea is to think through the problem you want to solve first -- just conceptually.  How will you know you have solved it?  Are there tests that you can use to be sure?  Can you break the problem down into smaller components, and solve those sequentially?  This is a step that is conceptualizing your algorithm, or your plan for the code.

What approach would you use to solve each of those components? Can you describe those steps in English? We call this step writing 'pseudo-code'

Finally, there is the coding step. And the inevitable debugging step.  You really can't do one without the other.

Generally, it is good practice to work your way through problems in this way, and write the code for each building block, testing it to be sure it works for all the kinds of cases you can imagine, then test them together.  You'll end up being more productive, and far less frustrated, using a systematic, problem-solving approach.  

And by all means, don't try to tackle it all at once.  Below is an example of how to work through this process.

### Phase 1: Conceptual Plan

What do we need to do to determine whether each number between 1 and 100 is a prime number?

1. We need to see if any given number can be divided evenly by any other number besides 1 and itself. 
2. We need to test this for every number between 1 and 100

### Phase 2: Pseudo-Code

1. Write a function (isprime) to test whether a number passed to it as an argument (x) is a prime number.
Iterate over all values from x to 1.
At each iteration, test whether the original x is evenly divisible by this iteration value.
Keep track of how many times you get an evenly divisible result.
If the result is more than 2, call x a prime number.

2. Write a loop from 1 to 100, call this value (z)
Within the loop, call function isprime, and pass it the value of z.
Print the list of prime numbers.

### Phase 3: Code Incrementally, Test, and Document

Generally, build the code one step at a time, and test that step.  Add comments to explain your logic.  Make sure you include narrative in your assignments explaining your reasoning, and adding explanatory comments in the code every few lines to explain what you are doing in each part.

## Working With Files

Most data you might want to work with is likely to be in some kind of file.  You often will want to work with data in comma separated text files, or in spreadsheet tables, or in tables stored in a database.  And you will increasingly find data online, not only as text or spreadsheets to download, but as Open Data APIs, returned from a web service as a JSON object.  This session covers how to work with a variety of file formats in Python, and how to begin processing data in files to clean data.

### Basics of Reading and Writing Files in Python

Let's start by creating a simple file, and then reading it back.  We will use 'open' to open a file we will call 'tempfile' in 'write' (w) mode.  We will assign the file object, which is **iterable**, to an object we will arbitrarily call 'f'.

In [ ]:
f = open('tempfile.txt', 'w')
for i in range(10):
    f.write('this is line ' + str(i) + '\n')
f.close()

You can open the text file in an editor to verify that this code wrote the file as expected.  Now open the file we just created in Python, in read mode (r)

In [ ]:
f = open('tempfile.txt', 'r')

The first method to read a file is to read it in all at once, with a read() method. Here we load the whole file in memory and assign it to a. Note that we will re-open the file here to start from the beginning. Otherwise it will be positioned at the end of the file and give us back an empty string.

In [ ]:
f = open('tempfile.txt', 'r')
a = f.read()
a

Note that when we use read() it creates a string object.  The whole file is loaded into one big string.  Sometimes this may be useful, but often it is not the best way to load a file.

In [ ]:
type(a)

An alternative approach is to step through reading each line of the file with the readline() method.  Notice that each time you execute this it advances to the next line.  Each line is read into a string object.  In this case we are not doing anything with that object except printing it.

In [ ]:
f = open('tempfile.txt', 'r')
print(f.readline())
print(f.readline())

Here is another way to loop through the lines of the file and print them all out. Notice that printing the lines suppresses the quotes and the newline string.

In [ ]:
f = open('tempfile.txt', 'r')
for line in f:
    print(line, end='')

The plural version of the readline() method generates a list of the lines in a file, with a string containing each line of the file.  Notice that this list contains the raw text contents, including the newline string '\n'.

In [ ]:
f = open('tempfile.txt', 'r')
a = f.readlines()
a

Using **with** is a handy way to open a file, load its data, and automatically close the file.

In [ ]:
with open('tempfile.txt', 'r') as f:
    read_data = f.read()
print(read_data)
f.closed

### Working with JSON

JSON (JavaScript Object Notation) is a common format for data accessed from a web browser, which is generally running JavaScript.

The json dumps() method converts Python objects to JSON format, using the counterpart format for each data type, as in the table below.


Python	       JSON
dict	       object
list, tuple	   array
str	           string
int, float     number
True	       true
False	       false
None	       null

In [ ]:
import json

json.dumps([1,2,3])

Notice that objects can be complex, containing multiple types of data, and still be easily translated between Python objects and JSON format.  The following example converts a Python list, containing one element that is a dictionary, to JSON.

In [ ]:
json.dumps([1,2,3,{'foo': 'bar'}])

Below we convert the contents of tempfile to a json object.

In [ ]:
f = open('tempfile.txt', 'r')

x = json.dumps(f.readlines())
x

With the dump() method, we can write JSON data to a file.  Here we read tempfile, and create a new JSON formatted file into which we write the contents of tempfile.

In [ ]:
f = open('tempfile.txt', 'r')
j = open('temp.json', 'w')
json.dump(f.readlines(), j)

Using the load() method, we can read JSON formatted data and load it into a Python object.

In [ ]:
j = open('temp.json', 'r')
x = json.load(j)
x

### Working with CSV Files

CSV (Comma Separated Values) is probably the most common format of data you will encounter.  Files in this format are often exported in this format from a database table or from Excel, or just used as a simple, standard text (ASCII) file format for ease of use.

Let's begin by writing a CSV file like the JSON example above, by importing the csv module, and writing a file with several columns, separated by commas.

In [ ]:
my_data = []
for i in range(10):
    my_data.append([i, i*2, i+2])
my_data

Now we will write the CSV file using my_data, and adding a header row first with column names.  Note that we open the file as before, in write mode, but now use the writerow() method to write one row with the header, and writerows() to iterate over the rows and write them to the file.

In [ ]:
import csv
with open('my_data.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(["x", "y", "z"])
    writer.writerows(my_data)

Reading a CSV file is very similar to writing one, but simpler.  We create a reader object that is iterable, and then we can iterate over the rows and do things, like print each row.

In [ ]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

If we want to actually work with the data, then we need to assign it to an object rather than just printing it.  Here we can use the list method to convert the iterable reader object to a list, one per row.

In [ ]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    my_data = list(reader)
my_data

If you want to skip the header row in order to have the data without the header, you can use **next** after instantiating the reader object, to advance one row in the CVS file.

In [ ]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    next(reader)
    my_data = list(reader)
my_data

Since the data is now available as an object, you can do normal Python processing on it, like selecting the first entry of each row and printing it.

In [ ]:
for row in my_data:
    print(row[0])

### Reading a CSV File and Computing Statistics With it

Use rain.csv to calculate mean and maximum values in a column

In [ ]:
with open('data/rain.csv', 'r') as csvfile:
    
    # initialize a counter and variables to contain our descriptive stats
    count = 0 #at the end, divide cumulative_sum by this to get the mean
    cumulative_sum = 0 #our rolling sum
    max_value = -1 #pick a really small number that's guaranteed to be less than the max
    
    # open the file and skip the header row
    my_csv = csv.reader(csvfile)
    next(my_csv)
    
    # loop through each data row
    for row in my_csv:
        
        # rainfall amount is in column 1, only process this row's value if not an empty string
        if not row[1] == '':
            
            # increment the counter and extract this row's rainfall as a float
            count = count + 1
            rainfall = float(row[1])
            
            # add this row's rainfall to the cumulative sum
            cumulative_sum = cumulative_sum + rainfall
            
            # if this row's rainfall is greater than the current max value, update with the new max
            if rainfall > max_value:
                max_value = rainfall

    # after looping through all the rows, divide the cumulative sum by the count and round to get the mean
    mean_value = round(cumulative_sum / count, 1)
    
    # print out the mean and max values
    print('mean:', mean_value, 'inches')
    print('max:', max_value, 'inches')

How would you find the minimum rainfall amount?

### Cleaning up Messy Data

Let's look at another data file - one that contains a few Craigslist rental listings, that we have already done some cleanup on.

In [ ]:
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        print(row)

In [ ]:
# the column headers are the first row in the data file
# use next to iterate our csv reader to the first row to grab the headers
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    headers = next(my_csv)
    print(headers)

In [ ]:
# what is the 1st column (zero-indexed) in our data set?
headers[1]

In [ ]:
# for each row in the data set, print the price column's value
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        print(row[1])

In [ ]:
# create a new list to contain the column of prices in the data set
prices = []
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        prices.append(row[1])  
prices

This list has a couple of problems. First, it includes the header. Second, it's all strings even though prices are numeric data. Third, it contains some empty strings. We'll have to clean it up.

In [ ]:
# to remove the first element of the list, we can just capture position 1 through the end of the list
prices_noheader = prices[1:]
prices_noheader

In [ ]:
# now let's convert the price strings to integers
for price in prices_noheader:
    print(int(float(price)), ' ')

In [ ]:
# you can't convert an empty string to a numeric type
for price in prices_noheader:
    if not price == '':
        print(int(float(price)))
    else:
        print('None')

In [ ]:
# encapsulate this functionality inside a new function
def extract_int_price(price):
    if not price == '':
        return int(float(price))
    else:
        return None

In [ ]:
# use our function to convert each element in the list of prices to an integer
for price in prices_noheader:
    print(extract_int_price(price))

In [ ]:
# rather than just printing each converted value, turn it into a new list called int_prices
int_prices = []
for price in prices_noheader:
    int_prices.append(extract_int_price(price))
print(int_prices)

### Now let's clean up our neighborhood names

In [ ]:
# replace any forward slashes in neighborhood name with a hyphen
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    next(my_csv) #skip the header row
    for row in my_csv:
        print(row[0].replace('/', '-')) #use string.replace() method

### Create a new data set with cleaned up variables

In [ ]:
# create a new function to convert bedrooms from a string to an int
def extract_int_bedrooms(bedrooms):
    if not bedrooms == '':
        return int(float(bedrooms))
    else:
        return None

In [ ]:
# create a new function to replace forward slashes and commas with hyphens
def clean_neighborhood(neighborhood_name):
    # you can daisy chain multiple string.replace() methods
    return neighborhood_name.replace('/', '-').replace(',', '')

In [ ]:
# clean the data set by calling the cleaning functions and save the results to variables
rentals_cleaned = []
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    next(my_csv)
    for row in my_csv:
        neighborhood_cleaned = clean_neighborhood(row[0])
        price_cleaned = extract_int_price(row[1])
        bedrooms_cleaned = extract_int_bedrooms(row[2])
        rentals_cleaned.append([neighborhood_cleaned, price_cleaned, bedrooms_cleaned])      

# display our nested lists of data        
rentals_cleaned

# Exercise: 

1. Calculate the price per square foot, and write the result to a new file.  
2. Calculate the average price per square foot. 
3. Explain how you have dealt with missing data in 1 and 2, and how that might affect your result.

In [1]:
#create list to contain sqft and price of each rental
import csv
sqft = []
prices = []
with open('data/rents_full.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        if not sqft == '' or prices == '':
            sqft.append(row[4])
            prices.append(row[3])
    print(sqft)
    print(prices)

['price', '2495', '2695', '3150', '2800', '2196', '3264', '2000', '4740', '3395', '2699', '3620', '2025', '2378', '1795', '4299', '950', '2695', '4500', '3900', '2939', '2045', '2505', '3000', '3100', '2481', '2295', '3525', '2595', '1400', '3050', '2450', '2495', '2955', '2950', '3699', '3400', '2079', '1794', '1540', '2245', '3595', '1750', '2595', '4500', '3669', '2995', '4150', '6950', '4750', '2895', '5400', '2625', '1895', '2320', '1705', '4250', '3495', '3289', '1375', '3600', '1695', '2425', '2795', '2750', '3750', '3600', '1799', '2700', '1395', '2175', '3050', '2775', '2895', '3995', '2775', '2744', '4899', '2531', '5500', '5875', '4856', '1595', '1351', '1495', '3200', '1275', '1200', '2576', '2088', '2950', '2769', '2695', '2995', '3995', '5195', '3250', '1350', '2626', '1995', '1795', '2606', '3495', '2739', '4100', '2046', '2307', '3450', '2200', '15000', '3500', '950', '1200', '1937', '2282', '6000', '1575', '1695', '4900', '5995', '2995', '2145', '2600', '2895', '3475', '4400', '34', '1308', '2176', '2150', '3800', '3450', '3398', '2987', '3495', '2145', '2405', '1575', '1695', '3299', '3399', '4200', '1025', '1850', '1450', '3398', '3498', '3330', '2363', '2895', '2150', '2200', '2500', '1635', '1286', '3200', '2295', '2895', '2950', '2149', '1825', '2498', '3644', '4499', '1695', '1000', '2500', '3900', '4950', '2130', '3200', '1725', '2100', '3475', '3500', '2495', '1800', '3000', '3200', '2850', '2600', '1750', '1995', '1595', '1890', '32', '2700', '2230', '2395', '1975', '1654', '2975', '2924', '1400', '2070', '1287', '1989', '1775', '4555', '2299', '1745', '1706', '5795', '1395', '3975', '2539', '2452', '2640', '2445', '3699', '3049', '1195', '2100', '1325', '2199', '1450', '2199', '2900', '2188', '1800', '2270', '4995', '4209', '2955', '1750', '3600', '2000', '2495', '2082', '2685', '1250', '1950', '2400', '5010', '1850', '1775', '1595', '500', '1485', '2850', '2200', '1725', '3823', '1905', '3900', '4674', '1850', '3400', '975', '4650', '3949', '3695', '3527', '2517', '6600', '3200', '2395', '2295', '1950', '1900', '2231', '2457', '4700', '1375', '1375', '3795', '5850', '3150', '2400', '1550', '1695', '1850', '1595', '3664', '3595', '2850', '1375', '2482', '2700', '5199', '3105', '2295', '2095', '', '1600', '2600', '3700', '1800', '2200', '1376', '5850', '3050', '6395', '1625', '1885', '1600', '1695', '1725', '2785', '2489', '2566', '1900', '1900', '3095', '2695', '2395', '2795', '2000', '2500', '1995', '6000', '2700', '2210', '1796', '1796', '1500', '5630', '3200', '1995', '2595', '1100', '2491', '1950', '1950', '2251', '2793', '1625', '1695', '2999', '3159', '2150', '2595', '980', '1525', '1900', '2700', '2445', '2850', '1696', '1695', '2396', '3000', '2500', '1350', '1775', '1725', '5000', '1495', '2088', '3330', '2098', '2740', '1950', '4000', '4500', '1350', '4680', '2100', '2050', '3000', '2110', '2098', '1951', '1950', '2250', '3889', '3145', '2519', '2800', '3800', '1275', '1811', '3295', '2456', '2695', '2395', '2855', '3699', '3000', '1900', '1430', '1450', '1200', '850', '7500', '2895', '2800', '2395', '2996', '2195', '3400', '3400', '2495', '1850', '2085', '1835', '6000', '2725', '2050', '2500', '1776', '2650', '2658', '2849', '4500', '4500', '1450', '2750', '1992', '2200', '2000', '2600', '2225', '4200', '2235', '1470', '2445', '3200', '3280', '2635', '2150', '2290', '1795', '1850', '1535', '3250', '15000', '3250', '1698', '1725', '2445', '3425', '4750', '3550', '2500', '1995', '1535', '2050', '2695', '2595', '2939', '2763', '2600', '3050', '3800', '3699', '2600', '1750', '1775', '3150', '3950', '2475', '5495', '4200', '2395', '1759', '3395', '2599', '2200', '2500', '1995', '3950', '7000', '2225', '3295', '2225', '2371', '2399', '4995', '4745', '1595', '1454', '1800', '8200', '1749', '2833', '2905', '2759', '1525', '7080', '2650', '2079', '2195', '3182', '1639', '2650', '4400', '3700', '3200', '3800', '2850', '4700', '3000', '3300', '3449', '2149', '2250', '1030', '1175', '1450', '800']
['sqft', '755', '443', '1242', '', '676', '1138', '822', '1406', '', '', '860', '636', '1019', '715', '1533', '', '1200', '', '1600', '1100', '760', '908', '', '1000', '1008', '980', '', '', '', '', '952', '1056', '1062', '', '', '', '887', '1240', '563', '', '', '', '', '', '1154', '945', '2776', '4005', '', '', '', '1726', '900', '985', '', '2800', '', '1267', '1994', '1603', '', '400', '950', '', '', '1357', '', '1400', '', '1200', '1000', '', '1112', '', '900', '1216', '2859', '1150', '', '', '1211', '835', '734', '989', '1250', '690', '1640', '532', '', '1500', '', '1050', '1116', '', '', '850', '735', '1320', '', '942', '1263', '3500', '941', '2200', '697', '701', '2347', '809', '', '', '', '', '1000', '800', '1680', '900', '', '1300', '', '800', '808', '1170', '1100', '', '1900', '', '740', '1000', '2067', '', '1080', '1130', '1015', '1068', '530', '702', '', '', '1090', '', '1500', '', '975', '', '1130', '1130', '915', '', '1000', '600', '', '', '', '', '1322', '1077', '1112', '1600', '700', '675', '900', '', '', '', '', '', '2200', '1850', '676', '1230', '700', '820', '', '1100', '', '1110', '', '', '1538', '', '400', '650', '', '721', '', '750', '920', '1123', '600', '920', '1730', '1050', '', '500', '', '732', '650', '879', '', '', '778', '', '', '1200', '904', '950', '1056', '1060', '', '', '1349', '', '1346', '', '650', '850', '1000', '', '625', '793', '', '', '1405', '', '2800', '', '743', '782', '1051', '', '800', '350', '1265', '720', '866', '1150', '', '1936', '1150', '', '700', '1077', '746', '1100', '', '925', '779', '600', '1275', '1340', '1150', '1412', '546', '1900', '650', '2698', '1680', '2125', '', '650', '950', '1416', '450', '', '', '1900', '', '1200', '', '', '', '1200', '1154', '1059', '1150', '450', '676', '1260', '', '942', '', '', '', '1200', '', '1700', '', '725', '450', '1900', '', '', '', '1064', '1150', '932', '1068', '1350', '705', '638', '615', '615', '561', '', '2698', '', '1550', '1358', '1240', '2100', '850', '928', '750', '750', '250', '', '620', '', '', '600', '846', '1500', '', '820', '876', '600', '570', '', '', '', '', '', '', '', '850', '722', '', '570', '570', '876', '750', '', '700', '', '1068', '3100', '641', '650', '', '', '935', '750', '', '1147', '850', '3800', '1130', '', '595', '', '', '750', '750', '750', '1241', '', '600', '1556', '', '690', '1028', '1100', '712', '680', '939', '1116', '', '', '1200', '738', '', '1450', '1000', '2963', '940', '1040', '876', '1220', '', '', '', '1700', '1816', '', '', '4200', '1360', '800', '860', '701', '1076', '', '', '900', '1590', '', '1087', '723', '2000', '', '2000', '740', '1700', '901', '', '790', '', '700', '900', '1100', '1200', '650', '1540', '896', '1600', '5025', '1600', '615', '669', '1119', '1160', '', '1160', '2636', '1000', '896', '985', '', '796', '1100', '950', '1100', '', '978', '', '2237', '725', '', '2008', '2070', '', '1860', '2234', '880', '445', '', '', '428', '3283', '1992', '1500', '1920', '740', '910', '740', '852', '1060', '', '1309', '1169', '826', '1500', '', '921', '810', '1128', '1044', '450', '', '', '887', '1231', '1036', '', '954', '1650', '', '', '2492', '', '1628', '971', '1225', '', '', '892', '700', '615', '', '']

In [2]:
#remove header
sqft_noheader = sqft[1:]
prices_noheader = prices[1:]
print(sqft_noheader)
print(prices_noheader)

['2495', '2695', '3150', '2800', '2196', '3264', '2000', '4740', '3395', '2699', '3620', '2025', '2378', '1795', '4299', '950', '2695', '4500', '3900', '2939', '2045', '2505', '3000', '3100', '2481', '2295', '3525', '2595', '1400', '3050', '2450', '2495', '2955', '2950', '3699', '3400', '2079', '1794', '1540', '2245', '3595', '1750', '2595', '4500', '3669', '2995', '4150', '6950', '4750', '2895', '5400', '2625', '1895', '2320', '1705', '4250', '3495', '3289', '1375', '3600', '1695', '2425', '2795', '2750', '3750', '3600', '1799', '2700', '1395', '2175', '3050', '2775', '2895', '3995', '2775', '2744', '4899', '2531', '5500', '5875', '4856', '1595', '1351', '1495', '3200', '1275', '1200', '2576', '2088', '2950', '2769', '2695', '2995', '3995', '5195', '3250', '1350', '2626', '1995', '1795', '2606', '3495', '2739', '4100', '2046', '2307', '3450', '2200', '15000', '3500', '950', '1200', '1937', '2282', '6000', '1575', '1695', '4900', '5995', '2995', '2145', '2600', '2895', '3475', '4400', '34', '1308', '2176', '2150', '3800', '3450', '3398', '2987', '3495', '2145', '2405', '1575', '1695', '3299', '3399', '4200', '1025', '1850', '1450', '3398', '3498', '3330', '2363', '2895', '2150', '2200', '2500', '1635', '1286', '3200', '2295', '2895', '2950', '2149', '1825', '2498', '3644', '4499', '1695', '1000', '2500', '3900', '4950', '2130', '3200', '1725', '2100', '3475', '3500', '2495', '1800', '3000', '3200', '2850', '2600', '1750', '1995', '1595', '1890', '32', '2700', '2230', '2395', '1975', '1654', '2975', '2924', '1400', '2070', '1287', '1989', '1775', '4555', '2299', '1745', '1706', '5795', '1395', '3975', '2539', '2452', '2640', '2445', '3699', '3049', '1195', '2100', '1325', '2199', '1450', '2199', '2900', '2188', '1800', '2270', '4995', '4209', '2955', '1750', '3600', '2000', '2495', '2082', '2685', '1250', '1950', '2400', '5010', '1850', '1775', '1595', '500', '1485', '2850', '2200', '1725', '3823', '1905', '3900', '4674', '1850', '3400', '975', '4650', '3949', '3695', '3527', '2517', '6600', '3200', '2395', '2295', '1950', '1900', '2231', '2457', '4700', '1375', '1375', '3795', '5850', '3150', '2400', '1550', '1695', '1850', '1595', '3664', '3595', '2850', '1375', '2482', '2700', '5199', '3105', '2295', '2095', '', '1600', '2600', '3700', '1800', '2200', '1376', '5850', '3050', '6395', '1625', '1885', '1600', '1695', '1725', '2785', '2489', '2566', '1900', '1900', '3095', '2695', '2395', '2795', '2000', '2500', '1995', '6000', '2700', '2210', '1796', '1796', '1500', '5630', '3200', '1995', '2595', '1100', '2491', '1950', '1950', '2251', '2793', '1625', '1695', '2999', '3159', '2150', '2595', '980', '1525', '1900', '2700', '2445', '2850', '1696', '1695', '2396', '3000', '2500', '1350', '1775', '1725', '5000', '1495', '2088', '3330', '2098', '2740', '1950', '4000', '4500', '1350', '4680', '2100', '2050', '3000', '2110', '2098', '1951', '1950', '2250', '3889', '3145', '2519', '2800', '3800', '1275', '1811', '3295', '2456', '2695', '2395', '2855', '3699', '3000', '1900', '1430', '1450', '1200', '850', '7500', '2895', '2800', '2395', '2996', '2195', '3400', '3400', '2495', '1850', '2085', '1835', '6000', '2725', '2050', '2500', '1776', '2650', '2658', '2849', '4500', '4500', '1450', '2750', '1992', '2200', '2000', '2600', '2225', '4200', '2235', '1470', '2445', '3200', '3280', '2635', '2150', '2290', '1795', '1850', '1535', '3250', '15000', '3250', '1698', '1725', '2445', '3425', '4750', '3550', '2500', '1995', '1535', '2050', '2695', '2595', '2939', '2763', '2600', '3050', '3800', '3699', '2600', '1750', '1775', '3150', '3950', '2475', '5495', '4200', '2395', '1759', '3395', '2599', '2200', '2500', '1995', '3950', '7000', '2225', '3295', '2225', '2371', '2399', '4995', '4745', '1595', '1454', '1800', '8200', '1749', '2833', '2905', '2759', '1525', '7080', '2650', '2079', '2195', '3182', '1639', '2650', '4400', '3700', '3200', '3800', '2850', '4700', '3000', '3300', '3449', '2149', '2250', '1030', '1175', '1450', '800']
['755', '443', '1242', '', '676', '1138', '822', '1406', '', '', '860', '636', '1019', '715', '1533', '', '1200', '', '1600', '1100', '760', '908', '', '1000', '1008', '980', '', '', '', '', '952', '1056', '1062', '', '', '', '887', '1240', '563', '', '', '', '', '', '1154', '945', '2776', '4005', '', '', '', '1726', '900', '985', '', '2800', '', '1267', '1994', '1603', '', '400', '950', '', '', '1357', '', '1400', '', '1200', '1000', '', '1112', '', '900', '1216', '2859', '1150', '', '', '1211', '835', '734', '989', '1250', '690', '1640', '532', '', '1500', '', '1050', '1116', '', '', '850', '735', '1320', '', '942', '1263', '3500', '941', '2200', '697', '701', '2347', '809', '', '', '', '', '1000', '800', '1680', '900', '', '1300', '', '800', '808', '1170', '1100', '', '1900', '', '740', '1000', '2067', '', '1080', '1130', '1015', '1068', '530', '702', '', '', '1090', '', '1500', '', '975', '', '1130', '1130', '915', '', '1000', '600', '', '', '', '', '1322', '1077', '1112', '1600', '700', '675', '900', '', '', '', '', '', '2200', '1850', '676', '1230', '700', '820', '', '1100', '', '1110', '', '', '1538', '', '400', '650', '', '721', '', '750', '920', '1123', '600', '920', '1730', '1050', '', '500', '', '732', '650', '879', '', '', '778', '', '', '1200', '904', '950', '1056', '1060', '', '', '1349', '', '1346', '', '650', '850', '1000', '', '625', '793', '', '', '1405', '', '2800', '', '743', '782', '1051', '', '800', '350', '1265', '720', '866', '1150', '', '1936', '1150', '', '700', '1077', '746', '1100', '', '925', '779', '600', '1275', '1340', '1150', '1412', '546', '1900', '650', '2698', '1680', '2125', '', '650', '950', '1416', '450', '', '', '1900', '', '1200', '', '', '', '1200', '1154', '1059', '1150', '450', '676', '1260', '', '942', '', '', '', '1200', '', '1700', '', '725', '450', '1900', '', '', '', '1064', '1150', '932', '1068', '1350', '705', '638', '615', '615', '561', '', '2698', '', '1550', '1358', '1240', '2100', '850', '928', '750', '750', '250', '', '620', '', '', '600', '846', '1500', '', '820', '876', '600', '570', '', '', '', '', '', '', '', '850', '722', '', '570', '570', '876', '750', '', '700', '', '1068', '3100', '641', '650', '', '', '935', '750', '', '1147', '850', '3800', '1130', '', '595', '', '', '750', '750', '750', '1241', '', '600', '1556', '', '690', '1028', '1100', '712', '680', '939', '1116', '', '', '1200', '738', '', '1450', '1000', '2963', '940', '1040', '876', '1220', '', '', '', '1700', '1816', '', '', '4200', '1360', '800', '860', '701', '1076', '', '', '900', '1590', '', '1087', '723', '2000', '', '2000', '740', '1700', '901', '', '790', '', '700', '900', '1100', '1200', '650', '1540', '896', '1600', '5025', '1600', '615', '669', '1119', '1160', '', '1160', '2636', '1000', '896', '985', '', '796', '1100', '950', '1100', '', '978', '', '2237', '725', '', '2008', '2070', '', '1860', '2234', '880', '445', '', '', '428', '3283', '1992', '1500', '1920', '740', '910', '740', '852', '1060', '', '1309', '1169', '826', '1500', '', '921', '810', '1128', '1044', '450', '', '', '887', '1231', '1036', '', '954', '1650', '', '', '2492', '', '1628', '971', '1225', '', '', '892', '700', '615', '', '']

In [9]:
#convert string to numbers using a function
def extract_int_sqft(sqft):
    if not sqft == '':
        return int(float(sqft))
    else:
        return None

In [12]:
#create list of sqft
int_sqft = []
for sqft in sqft_noheader:
    int_sqft.append(extract_int_sqft(sqft))

In [14]:
#print(int_prices)
print(int_sqft)

[2495, 2695, 3150, 2800, 2196, 3264, 2000, 4740, 3395, 2699, 3620, 2025, 2378, 1795, 4299, 950, 2695, 4500, 3900, 2939, 2045, 2505, 3000, 3100, 2481, 2295, 3525, 2595, 1400, 3050, 2450, 2495, 2955, 2950, 3699, 3400, 2079, 1794, 1540, 2245, 3595, 1750, 2595, 4500, 3669, 2995, 4150, 6950, 4750, 2895, 5400, 2625, 1895, 2320, 1705, 4250, 3495, 3289, 1375, 3600, 1695, 2425, 2795, 2750, 3750, 3600, 1799, 2700, 1395, 2175, 3050, 2775, 2895, 3995, 2775, 2744, 4899, 2531, 5500, 5875, 4856, 1595, 1351, 1495, 3200, 1275, 1200, 2576, 2088, 2950, 2769, 2695, 2995, 3995, 5195, 3250, 1350, 2626, 1995, 1795, 2606, 3495, 2739, 4100, 2046, 2307, 3450, 2200, 15000, 3500, 950, 1200, 1937, 2282, 6000, 1575, 1695, 4900, 5995, 2995, 2145, 2600, 2895, 3475, 4400, 34, 1308, 2176, 2150, 3800, 3450, 3398, 2987, 3495, 2145, 2405, 1575, 1695, 3299, 3399, 4200, 1025, 1850, 1450, 3398, 3498, 3330, 2363, 2895, 2150, 2200, 2500, 1635, 1286, 3200, 2295, 2895, 2950, 2149, 1825, 2498, 3644, 4499, 1695, 1000, 2500, 3900, 4950, 2130, 3200, 1725, 2100, 3475, 3500, 2495, 1800, 3000, 3200, 2850, 2600, 1750, 1995, 1595, 1890, 32, 2700, 2230, 2395, 1975, 1654, 2975, 2924, 1400, 2070, 1287, 1989, 1775, 4555, 2299, 1745, 1706, 5795, 1395, 3975, 2539, 2452, 2640, 2445, 3699, 3049, 1195, 2100, 1325, 2199, 1450, 2199, 2900, 2188, 1800, 2270, 4995, 4209, 2955, 1750, 3600, 2000, 2495, 2082, 2685, 1250, 1950, 2400, 5010, 1850, 1775, 1595, 500, 1485, 2850, 2200, 1725, 3823, 1905, 3900, 4674, 1850, 3400, 975, 4650, 3949, 3695, 3527, 2517, 6600, 3200, 2395, 2295, 1950, 1900, 2231, 2457, 4700, 1375, 1375, 3795, 5850, 3150, 2400, 1550, 1695, 1850, 1595, 3664, 3595, 2850, 1375, 2482, 2700, 5199, 3105, 2295, 2095, None, 1600, 2600, 3700, 1800, 2200, 1376, 5850, 3050, 6395, 1625, 1885, 1600, 1695, 1725, 2785, 2489, 2566, 1900, 1900, 3095, 2695, 2395, 2795, 2000, 2500, 1995, 6000, 2700, 2210, 1796, 1796, 1500, 5630, 3200, 1995, 2595, 1100, 2491, 1950, 1950, 2251, 2793, 1625, 1695, 2999, 3159, 2150, 2595, 980, 1525, 1900, 2700, 2445, 2850, 1696, 1695, 2396, 3000, 2500, 1350, 1775, 1725, 5000, 1495, 2088, 3330, 2098, 2740, 1950, 4000, 4500, 1350, 4680, 2100, 2050, 3000, 2110, 2098, 1951, 1950, 2250, 3889, 3145, 2519, 2800, 3800, 1275, 1811, 3295, 2456, 2695, 2395, 2855, 3699, 3000, 1900, 1430, 1450, 1200, 850, 7500, 2895, 2800, 2395, 2996, 2195, 3400, 3400, 2495, 1850, 2085, 1835, 6000, 2725, 2050, 2500, 1776, 2650, 2658, 2849, 4500, 4500, 1450, 2750, 1992, 2200, 2000, 2600, 2225, 4200, 2235, 1470, 2445, 3200, 3280, 2635, 2150, 2290, 1795, 1850, 1535, 3250, 15000, 3250, 1698, 1725, 2445, 3425, 4750, 3550, 2500, 1995, 1535, 2050, 2695, 2595, 2939, 2763, 2600, 3050, 3800, 3699, 2600, 1750, 1775, 3150, 3950, 2475, 5495, 4200, 2395, 1759, 3395, 2599, 2200, 2500, 1995, 3950, 7000, 2225, 3295, 2225, 2371, 2399, 4995, 4745, 1595, 1454, 1800, 8200, 1749, 2833, 2905, 2759, 1525, 7080, 2650, 2079, 2195, 3182, 1639, 2650, 4400, 3700, 3200, 3800, 2850, 4700, 3000, 3300, 3449, 2149, 2250, 1030, 1175, 1450, 800]

In [4]:
#divide price by sqft to get price per square foot
prices_noheader=[float(i) for i in prices_noheader]
int_sqft=[float(i) for i in int_sqft]
x=prices_noheader[i]
y=int_sqft[i]
price_per_sqft = [x/y]
print(price_per_sqft)

NameError: name 'prices_noheader' is not defined

In [5]:
#write result to a new file
price_per_sqft=str(price_per_sqft)
f = open('pricepersqft.txt', 'w')
f.write(price_per_sqft)
f.close()

NameError: name 'price_per_sqft' is not defined

In [6]:
#calculate average price per square foot
import numpy
numpy.mean(price_per_sqft)

NameError: name 'price_per_sqft' is not defined

I dealt with the missing data by removing both data points from the data set. I removed the 3rd, 8th, 9th, and 12th element from each list since they were either a missing data point or the corresponding value from the other list. This eliminated the problem of dividing by a value that is not a number.